<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/base.html :: head">

</head>
<body>

<div th:replace="/base.html :: basetop"></div>

<div th:replace="/base.html :: navigation"></div>

<hr>


<h1 class="subtitle has-text-centered has-text-weight-bold">Write a post</h1>

<form th:action="@{/save}" th:object="${beitrag}" method="post" th:if="${sessionUser.admin}">

    <strong th:text="${'Title:'}"></strong>
    <div class="field">
        <div class="control">
            <textarea th:field="*{title}" class="textarea is-primary" type="text" placeholder="title">Title:</textarea>
        </div>
    </div>


    <strong th:text="${'Text:'}"></strong>
    <div class="field">
        <div class="control">
            <textarea th:field="*{text}" class="textarea is-primary" type="text"
                      placeholder="your thoughts">Text:</textarea>
        </div>
    </div>


    <p th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></p>
    <p th:if="${#fields.hasErrors('text')}" th:errors="*{text}"></p>
    <br>
    <button type="submit" class="button is-primary">Submit</button>
</form>

<br>

<div th:replace="/base.html :: basebottom"></div>

</body>
</html>
