<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="/base.html :: head">
</head>
<body>

<div th:replace="/base.html :: basetop"></div>

<div th:replace="/base.html :: navigation"></div>

<hr>

<h1 th:text="${'Welcome my unknown friend'}" th:if="${sessionUser == null}"></h1>
<h1 th:text="${'Welcome ' + sessionUser.username}" th:if="${sessionUser != null}"></h1>




<h1 class="subtitle has-text-centered has-text-weight-bold">Posts</h1>

<div th:each="beitrag: ${beitraege}">
    <a th:href="@{/profile/{username}(username=${beitrag.user.username})}">
        <strong th:text="${'@' + beitrag.user.username}"></strong>
    </a> <br>
    <article class="message is-primary">
        <div class="message-header">
            <strong th:text="${beitrag.title}"> </strong><br>

            <!--            <form th:if="${user == sessionUser}" method="post" th:action="@{/beitragDelete(beitragId=${beitrag.id})}">-->
            <form th:if="${sessionUser != null && sessionUser.admin}" method="post"
                  th:action="@{/beitragDelete(beitragId=${beitrag.id})}">
                <button class="delete" aria-label="delete"></button>
            </form>

        </div>
        <div class="message-body">
            <span th:text="${beitrag.text}"> </span><br>
        </div>
        posted at <span th:text="${#dates.format(beitrag.postedAt)}"> </span>
    </article>


    <a th:href="@{/edit/{id}(id=${beitrag.id})}" th:if="${sessionUser != null}" class="button is-primary">Write a
        comment</a>
    <a th:href="@{/edit/{id}(id=${beitrag.id})}" th:if="${sessionUser != null && sessionUser.admin}"
       class="button is-primary">Edit the post</a>
    <br>
    <br>


    <div th:replace="/base.html :: basecomments"></div>

    <!--    <li class="demo" th:each="einkommentar : ${beitrag.kommentare}">-->
    <!--        <article class="message">-->
    <!--            <div class="message-header">-->
    <!--                <strong th:text="${einkommentar.user.username}"></strong>-->

    <!--                <form th:if="${sessionUser != null && (sessionUser.admin || sessionUser.id == einkommentar.user.id )}"-->
    <!--                      method="post" th:action="@{/edit/{id}/deletecomment(id=${einkommentar.id})}">-->
    <!--                    <button class="delete is-pulled-right is-small" aria-label="delete"></button>-->
    <!--                </form>-->
    <!--            </div>-->
    <!--            <div class="message-body">-->

    <!--                <span th:text="${einkommentar.text}"></span><br>-->
    <!--                posted at <span th:text="${#dates.format(einkommentar.postedAt)}"></span>-->
    <!--            </div>-->

    <!--        </article>-->
    <!--    </li>-->


    <!--    <li class="demo" th:each="einkommentar : ${beitrag.kommentare}">-->
    <!--        <form th:if="${sessionUser != null && (sessionUser.admin || sessionUser.id == einkommentar.user.id )}"-->
    <!--              method="post" th:action="@{/edit/{id}/deletecomment(id=${einkommentar.id})}">-->
    <!--            <button class="delete is-pulled-right" aria-label="delete"></button>-->
    <!--        </form>-->
    <!--        <strong th:text="${einkommentar.user.username}"></strong>-->
    <!--        <span th:text="${#dates.format(einkommentar.postedAt)}"></span><br>-->
    <!--        <span th:text="${einkommentar.text}"></span>-->
    <!--    </li>-->
    <hr>
</div>

<br>
<div th:replace="/base.html :: basebottom"></div>

</body>
</html>