<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/base.html :: head">

</head>
<body>

<div th:replace="/base.html :: basetop"></div>

<div th:replace="/base.html :: navigation"></div>

<hr>


<h1 th:text="${'Profile of ' + user.username}"></h1>


<h1 class="subtitle has-text-centered has-text-weight-bold">Posts</h1>

<div th:each="beitrag: ${user.beitraege}">
    <article class="message is-primary">
        <div class="message-header">
            <strong th:text="${beitrag.title}"> </strong><br>
            <form th:if="${user == sessionUser}" method="post" th:action="@{/beitragDelete(beitragId=${beitrag.id})}">
                <button class="delete" aria-label="delete" type="submit">Delete</button>
            </form>
        </div>
        <div class="message-body">
            <span th:text="${beitrag.text}"></span><br>
        </div>
        posted at <strong th:text="${#dates.format(beitrag.postedAt)}"></strong> <br>
    </article>
    <br>

</div>
<br>

<!--<div th:replace="/base.html :: basecomments"></div>-->
<!--<li class="demo" th:each="einkommentar : ${beitrag.kommentare}">-->
<!--    <article class="message">-->
<!--        <div class="message-header">-->
<!--            <strong th:text="${einkommentar.user.username}"></strong>-->

<!--            <form th:if="${sessionUser != null && (sessionUser.admin || sessionUser.id == einkommentar.user.id )}"-->
<!--                  method="post" th:action="@{/edit/{id}/deletecomment(id=${einkommentar.id})}">-->
<!--                <button class="delete is-pulled-right is-small" aria-label="delete"></button>-->
<!--            </form>-->
<!--        </div>-->
<!--        <div class="message-body">-->

<!--            <span th:text="${einkommentar.text}"></span><br>-->
<!--            posted at <span th:text="${#dates.format(einkommentar.postedAt)}"></span>-->
<!--        </div>-->

<!--    </article>-->
<!--</li>-->

<br>

<div th:replace="/base.html :: basebottom"></div>


</body>
</html>